body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
}

#root:first-child > div {
  height: 100%;
}

* {
  box-sizing: border-box;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}
